<div class="container fill">
  <div class="row">
    <div class="col-xs-4">
      <h2>Clinton vs. Trump</h2>
      <p>Live sentiment analysis of tweets referencing the candidates.</p>
    </div>
    <div class="col-xs-8">
      <div class="col-xs-12 live-column-chart">
        <div id="live-column-container"></div>
      </div>

      <div class="col-xs-12 smoothie-chart">
        <canvas id="live-smoothie-container"></canvas>
      </div>
    </div>
  </div>
</div>
